﻿@model PhoneShop.Web.Models.BrandsViewModel
@{
    ViewBag.Title = "Brands Index";
}

<h2>Brands Index</h2>

<p style="color:red; font-weight:bold">@TempData["editResult"]</p>

	@Html.Partial("BrandEdit",Model.EditedBrand)

	@Html.Partial("BrandList",Model.ListOfBrands)