﻿@model PhoneShop.Web.Models.Brand

<h2>Edit one brand</h2>

@using (Html.BeginForm("Edit", "Brands"))
{
	@Html.ValidationSummary()

	@Html.AntiForgeryToken()

	@Html.HiddenFor(m => m.Id)
	@Html.Hidden("editAction", ViewData["editAction"].ToString());

	<div class="editor-label">@Html.LabelFor(m => m.Name)</div>
	<div class="editor-field">@Html.EditorFor(m => m.Name)</div>

	<div class="editor-label">@Html.LabelFor(m => m.Forgalom)</div>
	<div class="editor-field">@Html.EditorFor(m => m.Forgalom)</div>

	<div class="editor-label">@Html.LabelFor(m => m.Csakinf)</div>
	<div class="editor-field">@Html.EditorFor(m => m.Csakinf)</div>

	<div class="editor-label">@Html.LabelFor(m => m.Szoftver)</div>
	<div class="editor-field">@Html.EditorFor(m => m.Szoftver)</div>

	<div class="editor-label">@Html.LabelFor(m => m.Weblap)</div>
	<div class="editor-field">@Html.EditorFor(m => m.Weblap)</div>

	<input type="submit" value="SEND">

}