﻿@model PhoneShop.Web.Models.Brand
@{
	ViewBag.Title = "BrandDetails";
}

<h2>Datasheet of one brand</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
	<tr>
		<td>@Html.DisplayNameFor(m => m.Id)</td>
		<td>@Html.DisplayFor(m => m.Id)</td>
	</tr>
	<tr>
		<td>@Html.DisplayNameFor(m => m.Name)</td>
		<td>@Html.DisplayFor(m => m.Name)</td>
	</tr>
	<tr>
		<td>@Html.DisplayNameFor(m => m.Forgalom)</td>
		<td>@Html.DisplayFor(m => m.Forgalom)</td>
	</tr>
	<tr>
		<td>@Html.DisplayNameFor(m => m.Csakinf)</td>
		<td>@Html.DisplayFor(m => m.Csakinf)</td>
	</tr>
	<tr>
		<td>@Html.DisplayNameFor(m => m.Szoftver)</td>
		<td>@Html.DisplayFor(m => m.Szoftver)</td>
	</tr>
	<tr>
		<td>@Html.DisplayNameFor(m => m.Weblap)</td>
		<td>@Html.DisplayFor(m => m.Weblap)</td>
	</tr>
</table>